name: CI/CD

on:
  push:
    branches:
      - dev

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run tests
        run: pytest -s tests/unit/
