name: Test
run-name: Running tests on dev...
on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Verify python installation
        run: python3 --version

      - name: Install software properties
        run: sudo apt install software-properties-common

      - name: Add deadsnakes PPA
        run: sudo add-apt-repository ppa:deadsnakes/ppa

      - name: Update 
        run: sudo apt update

      - name: Install python 3.9
        run: sudo apt install python3.9

      - name: Checkout code
        uses: actions/checkout@v4.1.1

      - name: Create venv
        run: python3 -m venv .venv

      - name: Activate venv
        run: source .venv/bin/activate

      - name: install p
        run: pip install -r tests/requirements.txt

      - name: Run tests
        run: pytest -s tests/unit/

      - name: Deactivate venv
        run: deactivate

      - name: Check AWS SAM CLI
        run: sam --version

      - name: SAM Build
        run: sam build

      - name: SAM Deploy
        run: sam deploy --region ap-south-1 --capabilities CAPABILITY_NAME_IAM
